body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.vision {
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
  padding: 20px;
}
.vision-video {
  display: flex;
  justify-content: center;
}
.button-effect {
  transition: all ease-in-out .2s;
}
.button-effect:hover {
}
#player {
  /* display: none; */
  width: 250px; 
  height: 250px;
}
#snapshot {
  display: none;
  width: 320px; 
  height: 240px;
}
#clear {
  display: none;
  width: 100px;
  background-color: #F44336;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
#enable {
  width: 100px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
#disable {
  display: none;
  width: 100px;
  background-color: #F44336;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
#capture {
  display: none;
  width: 100px;
  background-color: #2196F3;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
#send {
  width: 100px;
  background-color: #9E9E9E;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
#auth {
  width: 100px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  margin: 5px;
  height: 30px;
}
