body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.vision {
  display: flex;
  flex-direction: column;
  border: 1px solid #BDBDBD;
  padding: 20px;
}
.vision-video {
  display: flex;
  justify-content: center;
}
#player {
  /* display: none; */
  width: 250px; 
  height: 250px;
}
#snapshot {
  display: none;
  width: 320px; 
  height: 240px;
}
#clear {
  display: none;
}
#disable {
  display: none;
}
#capture {
  display: none;
}
